{
  "parse": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:flowtype/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "plugins": ["flowtype"],
  "rules": {
    "no-console": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  }
}
