{
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": false
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [],
  "rules": {
    "no-console": "off"
  }
}
